<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <h2><label for="name">Author</label></h2>
                <input type="text" required class="form-control" id="name">

            </div>
            <div class="form-group">

                <h2><label for="description">Quote</label></h2>
                <textarea class="form-control" id="description" rows="4" required></textarea>

            </div>
            <div class="form-group">

              <h2><label for="name">Submitted by:</label></h2>
              <input type="text" required class="form-control" id="name">

            </div>
            
        </form>
    </div>
</div>
