h1{
  text-align: center;
  font-size: 50px;
}
.me {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8A37A6;
  border: none;
  border-radius: 10%;
  box-shadow: 0 1px #999;
}

.me:hover {background-color: #D38DEB;}

.me:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}
.q{
  font-size: 25px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
