/* You can add global styles to this file, and also import other style files */
body{
  color : black;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLIK1k6FEEI7yP2SZqQXRumGtABvll1aUxkbqF7M3jpsqlqG8y");
  background-repeat: no-repeat;
  background-size: cover;
}
