<div class="container-fluid">
  <div class="pad">
    <div class="row" id="fom">
      <form (ngSubmit)='submitQuote()'(ngSubmit)='submitQuote()' #quoteForm='ngForm' #quoteForm='ngForm'>
        <div class="form-group">

          <h2><label for="name">Author</label></h2>
          <input type="text" id="name"required class="form-control"id="name" [(ngModel)]="newQuote.name" name="author">
          <!-- Display {{newGoal.name}} // output data binding -->
        </div>

        <div class="form-group">
          <h2><label for="Description">Quote</label></h2>
          <textarea class="form-control" id="description" rows="4" required name="description" [(ngModel)]="newQuote.description"></textarea>
        </div>

        <div class="form-group">

          <h2><label for="name">Submited By:</label></h2>
          <input type="text" id="name"required class="form-control" name="submit" [(ngModel)]="newQuote.submit">
        </div>

        <div class="form-group">
                 <h2><label for="complete">Completion Date:</label></h2>
                 <input type='date' id="complete" required>

             </div>
             <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
      </form>
    </div>
  </div>

</div>
